
// +++++++++ For Text's +++++++++
$some-text: #2799b1;
$color-111: #111;
$footer-text-color: #afe9f5;
$text-f-color: #fff;



// +++++++++ For Font's +++++++++
$Font-Raleway: Raleway,sans-serif;
$Open-sans: "Open Sans",sans-serif;



// +++++++++ For Button's +++++++++
$some-btn-bg-colors: #d5e76c;
$some-button: #2799b1;
$btn-hovers: #d5e76cda;



// +++++++++ For Background's +++++++++
$circle-bg-color: linear-gradient(to right, #2799b1, #d5e76c);    // * +++++++++ background-img: ...; +++++++++
$footer-bg: #333;


