body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  color: #fff;
  background-color: greenyellow;
}

*::selection {
  color: #fff;
  background-color: greenyellow;
}

.container {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}

.headerTop {
  width: 100%;
  height: 80px;
}
.headerTop img {
  width: 64px;
  height: 32px;
  padding-left: 25px;
  padding-top: 25px;
  cursor: pointer;
  margin-left: 5%;
}
.headerTop .fa-bars {
  cursor: pointer;
  font-size: 24px;
  width: 24px;
  height: 21px;
  margin-left: 75%;
}
.headerTop .fa-bars:hover {
  color: rgb(255, 0, 255);
}

#list {
  display: none;
  position: fixed;
  z-index: 1;
}

.right-burger-menu {
  background: rgba(0, 0, 0, 0.956);
  width: 250px;
  height: 715px;
  margin-left: -42px;
  margin-top: -92px;
  animation-name: home-go;
  animation-duration: 0.7s;
}
@keyframes home-go {
  0% {
    margin-left: -182px;
  }
  100% {
    margin-left: -41px;
  }
}
.right-burger-menu .home {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #fff;
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  /* margin-top: 300px; */
  position: relative;
  top: 120px;
  left: 90px;
}
.right-burger-menu .home:hover {
  color: rgba(255, 255, 255, 0.5450980392);
}

.libraryLanding {
  background-image: url(../img/section-1/bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
}
.libraryLanding .libraryLanding__grid {
  display: grid;
  grid-template-columns: auto auto;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack {
  width: 200px;
  padding: 40px 0px 40px 20%;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__h1 {
  padding-top: 50px;
  font: 700 48px Raleway, sans-serif;
  color: #fff;
  width: 250px;
  height: 105px;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__p {
  width: 288px;
  font-weight: 700;
  font-size: 16px;
  font-family: Raleway, sans-serif;
  color: #fff;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn {
  width: 212px;
  height: 57.6px;
  border: none;
  border-radius: 12px;
  font: 700 16px "Open Sans", sans-serif;
  background-color: #d5e76c;
  cursor: pointer;
  color: #2799b1;
  text-transform: uppercase;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack__btn:hover {
  background-color: rgba(213, 231, 108, 0.8549019608);
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack {
  font: 16px "Open Sans", sans-serif;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 60px;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}
.libraryLanding .libraryLanding__grid .libraryLanding-grid__pack .libraryLanding-grid-pack a:hover {
  border-color: rgba(255, 255, 255, 0.516);
  color: rgba(255, 255, 255, 0.734);
}

@media only screen and (max-width: 754px) {
  .fa-bars {
    position: relative;
    top: -30px;
  }
}/*# sourceMappingURL=main.css.map */