    // !============ Library Page ============
    .libraryLanding {
        background-image: url(../img/section-1/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        width: 100%;
        height: max-content;
        .libraryLanding__grid {
            overflow: hidden;
            @include for-flex;
            .libraryLanding-grid__pack {
                z-index: 2;
                width: 200px;
                // width: 351px;
                // height: 105px;
                padding: 40px 0px 40px 17%;
                // background-color: red;
                .libraryLanding-grid-pack__h1 {
                    padding-top: 50px;
                    font: 700 48px $Font-Raleway;
                    color: $text-f-color;
                    width: 250px;
                    height: 105px;
                    animation-name: h1-anim;
                    animation-duration: 2s;
                }
                @keyframes h1-anim {
                    from {
                        margin-left: -300px;
                    }
                    to {
                        margin-left: 0;
                    }
                }
                .libraryLanding-grid-pack__p {
                    width: 288px;
                    font-weight: 700;
                    font-size: 16px;
                    font-family: $Font-Raleway;
                    color: $text-f-color;
                    font-style: italic;
                    animation-name: go-top-anim;
                    animation-duration: 2s;
                }
                .libraryLanding-grid-pack__btn {
                    width: 212px;
                    height: 57.6px;
                    border: none;
                    border-radius: 12px;
                    font: 700 16px $Open-sans;
                    background-color: $some-btn-bg-colors;
                    cursor: pointer;
                    color: $some-text;
                    text-transform: uppercase;
                    animation-name: go-top-anim;
                    animation-duration: 2s;
                }
                .libraryLanding-grid-pack__btn:hover {
                    background-color: $btn-hovers;
                }
                .libraryLanding-grid-pack {
                    font: 16px $Open-sans;
                    color: $text-f-color;
                    padding-top: 20px;
                    padding-bottom: 60px;
                    animation-name: go-top-anim;
                    animation-duration: 2s;
                    a {
                        color: $text-f-color;
                        text-decoration: none;
                        border-bottom: 2px solid $text-f-color;
                    }
                    a:hover {
                        border-color: rgba(255, 255, 255, 0.516);
                        color: rgba(255, 255, 255, 0.734);
                    }
                }
                @keyframes go-top-anim {
                    from {
                        margin-top: 300px;
                    }
                    to {
                        margin-top: 0;
                    }
                }
            }
            .libraryLanding-grid__pack-second {
                display: block;
                .libraryLanding-grid__pack-second_1 {
                    border: 0px solid transparent;
                    width: calc(((100% - 1140px) / 2) + 1140px);
                    img {
                        width: calc(((100% - 1140px) / 2) + 1140px);
                        max-width: 100%;
                        margin: 0 0 0 auto;
                        width: 100%;
                    }
                }
            }
        }
    }