@media only screen and (max-width: 754px) {
    .fa-bars {
        position: relative;
        top: -30px;
    }
}

// *============ Book Responsive ============
@media (max-width:1110px) {
    .libraryLanding__grid {
        flex-wrap: wrap;
    }
}